/* home */
.main {
    margin-bottom: 40px;
}
svg {
    font: 12px sans-serif;
}

svg text.PTB tspan {
    fill: #fff;
}
.form-inline {
    margin-bottom: 5px;
}
.form-inline select {
    margin-left: 5px
}
.form-inline .form-group:last-child {
    margin-left: 5px;
}
