{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Atlas</title>

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="nav blog-nav">
          <a class="nav-link active" href="#">Home</a>
          <!--
          <a class="nav-link" href="#">New features</a>
          -->
        </nav>
      </div>
    </div>

    <div class="blog-header">
      <div class="container">
        <h1 class="blog-title">Atlas Municipal</h1>
        <!--
        <p class="lead blog-description">An example blog template built with Bootstrap.</p>
        -->
      </div>
    </div>

    <div class="container">
      {% block body %}
      {% endblock %}
    </div><!-- /.container -->


  </body>
</html>
