{% extends "base.html" %}
{% block body %}

<div class="row">
    <div class="col-sm-8 blog-main">
        <div class="blog-post">
            <h2 class="blog-post-title">{{ councilman.name }}</h2>
            <p class="blog-post-meta">{{ councilman.party }}</p>
        </div><!-- /.blog-post -->

        {% if donations %}
        <div class="blog-post">
            <h3 class="blog-post-title2">Doações</h3>
            <table id="donations" class="table table-striped table-bordered table-sm">
                <thead>
                    <tr>
                        <th>Doador</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for donation in donations %}
                    <tr>
                        <td>{{ donation.donor }}</td>
                        <td>R$ {{ donation.value }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Total: </th>
                        <th>R$ {{ donations_sum }}</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        {% endif %}
    </div>

    <div class="col-sm-4 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
            <h4>Sobre</h4>
            <p>
                <img src="{{ councilman.picture }}"></img>
            </p>
            <p><strong>E-mail:</strong> <a href="mailto:{{councilman.email}}">{{ councilman.email }}</a></p>
            <p><strong>Telefone:</strong> {{ councilman.phone_number }}</p>
            <p><strong>Endereço:</strong> {{ councilman.address }}, {{ councilman.floor }} andar, Sala: {{ councilman.room }}</p>

        </div>
        <!--
        <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
                <li><a href="#">GitHub</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
            </ol>
        </div>
        -->
    </div>
</div>

{% endblock %}
