{% extends "base.html" %}
{% load staticfiles %}
{% block style %}
<link href="{% static "css/style.css" %}" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="row main">
  <div class="col-sm-12">
    <form class="form-inline">
      <div class="form-group">
        <label for="order">Ordenar por:</label>
        <select id="order">
          <option value="1">Quantidade de vereadores por partido</option>
          <option value="2">Doações</option>
          <option value="3">Patrimônio</option>
          <option value="4">Gastos na eleição</option>
          <option value="5">Gastos na Câmara</option>
        </select>
      </div>
      <div class="form-group">
        <button type="button" id="atualizar">Atualizar</button>
      </div>
    </form>
  </div>
  <div class="col-sm-12">
    <svg width="1050" height="570" id="svg"></svg>
  </div>
</div>
{% endblock %}
{% block script %}
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="{% static "script/treemap.js" %}"></script>
<script>
t = new Treemap();
t.loadDataAndCreateChart();
</script>
{% endblock %}
